<!DOCTYPE html>
<html ng-app="apresApp">
<head>
	<title></title>
</head>
<body ng-controller="apresController">

<div>
<ul ng-repeat="weather in weatherData">		
<li>Ski Resort: {{weather.current_observation.display_location}}</li>
<li>Current Temp: {{weather.current_observation.temp_f}}</li>
<li>Feels Like: {{weather.current_observation.feelslike_f}}</li>
<li>Current Condition: {{weather.current_observation.weather}}</li>
<img ng-src="{{weather.current_observation.icon_url"}}>
<li>Full 4 Day Forecast:</li>
	<ul ng-repeat="forecast in weather.forecast.simpleforecast.forecastday">
	<li>{{forecast.date.monthname}} {{forecast.date.day}}: {{forecast.conditions}}</li>

	</ul>
</ul>

</div>
</body>


<!-- SCRIPTS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/mtnFactory.js"></script>
  <script type="text/javascript" src="js/apresCntrlr.js"></script>
  

</html>